# Ignores all files by default 
*

# Exceptions (whitelist)
# Don't forget you need to first add the folder then all the subdirs and files with /**
# --------------------------
!.gitignore
!hypr/
!hypr/**
hypr/wallpapers/*

!kitty/
!kitty/**

!nvim/
!nvim/**

!waybar/
!waybar/**

!rofi/
!rofi/**

!dunst/
!dunst/**

!fastfetch/
!fastfetch/**

!nnn/
!nnn/**


