/* Rofi config file */
configuration {
    font: "JetBrains Mono Nerd Font";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}

/* Add the theme in here*/
@theme "rounded-green-dark"

listview {
    lines: 12;
}
